# Created by .ignore support plugin (hsz.mobi)
.idea/
node_modules/
webpack.config.js
yarn.lock
tsconfig.json
test.html
index.ts
.gitignore
.npmignore
package.json
test.js
hefang-js.iml
*.tgz
*.tsx
*.map
webpack.config.ts
test.ts
test.d.ts
test/